body {
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
#login-screen {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
    z-index: 3;
}
#login-screen.hidden {
    display: none;
}
#login-screen .logo {
    width: 130px;
    height: 92px;
    margin: 72px 0px 50px 0px;    
}
#login-screen span {
    font-size: 20px;
    color: rgb(255, 92, 92);
    margin: 0px 0px 20px 0px;
    text-align: center;
}
#login-screen span.soft-hidden {
    visibility: hidden;
}
#login-screen input {
    width: 261px;
    height: 54px;
    font-size: 18px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 15px;
}
#login-screen input::placeholder {
    color: #AEAEAE;
}
#login-button {
    width: 109px;
    height: 45px;
    font-size: 18px;
    background: #E7E7E7;
    color: #696969;
    border-radius: 9px;
    border: none;
    transition: .5s;
}
#login-button.active {
    background: #ff5927;
    color: #ffffff;
}
#top-bar{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 22px;
    z-index: 1;
}
#top-bar .logo{
    width: 75px;
    height: 53px;
}
#top-bar ion-icon {
    font-size: 44px;
    flex-shrink: 0;
}
#messages{
    margin: 106px 0px;   
}
#messages li {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 2px;
    padding: 12px 8px;
    font-size: 14px;
    line-height: 20px;
    margin:4px 0px;
}
#messages li.status {
    background-color: #DCDCDC;
}
#messages li.private {
    background-color: #FFDEDE;
}
#messages li span.time {
    color: #AAAAAA;
}
#messages li span.username {
    font-weight: bold;
}
#bottom-bar {
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 17px;
    z-index: 1;
}
#bottom-bar input {
    width: 100%;
    height: 30px;
    font-size: 18px;
    padding-right: 15px;    
    color: #000000;
    border: none;
}
#bottom-bar input::placeholder {
    color: #000000;
    font-style: italic;
}
#bottom-bar ion-icon {
    font-size: 33px;
    flex-shrink: 0;
}
#bottom-bar span {
    font-size: 14px;
    font-weight: 300;
    color: #333333;
}
#overlay{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
}
#sidebar {
    width: 259px;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 0px 12px;
    z-index: 3;
}
#sidebar span {
    text-align: center;
    font-weight: bold;
    margin: 25px;
    line-height: 19px;
}
#sidebar ion-icon {
    font-size: 25px;
    margin: 8px;
    flex-shrink: 0;
}
#sidebar span.check {
    background-image: url(../img/check.svg);
    width: 13px;
    height: 11px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 0;
}
#sidebar li {
    display: flex;
    align-items: center;
    height: 34px;
}
.hidden {
    display: none;
}